<div
  class="app-shell"
  [class.app-shell--marketing]="isMarketingSurface && !bootstrapping"
  [class.app-shell--has-nav]="hasStickyNav"
  [class.app-shell--billing]="isBillingSurface"
>
  <div class="ambient" *ngIf="showAmbient" aria-hidden="true">
    <div class="ambient__wash"></div>
    <div class="ambient__ledger"></div>
    <div class="ambient__flow ambient__flow--a"></div>
    <div class="ambient__flow ambient__flow--b"></div>
    <div class="ambient__flow ambient__flow--c"></div>
    <div class="ambient__coin ambient__coin--a"></div>
    <div class="ambient__coin ambient__coin--b"></div>
    <div class="ambient__coin ambient__coin--c"></div>
    <div class="ambient__sheen"></div>
  </div>
  <app-navbar *ngIf="!isBillingSurface"></app-navbar>
  <main [class.main--billing]="isBillingSurface">
    <app-shimmer *ngIf="bootstrapping" [variant]="bootVariant"></app-shimmer>
    <div [hidden]="bootstrapping">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-portal-launch></app-portal-launch>
</div>
